table{
    width: 50%;
    border-collapse: collapse;
    margin: auto;
}
th, td{
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: rgb(201, 159, 104);
}
h1{
    display: flex;
    justify-content: center;
}
.submit-button{
    display: flex;
    justify-content: center;

}
.submit-button button{
    background: none;
    border: none;
    background-color: rgb(31, 5, 31);
    width: 20%;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}
tr:nth-child(even){
    background-color: antiquewhite;
}
